body{
	font-family:lobster;
	color: #FBFBFB;
	background-color: #2660A4;

	margin-left: 50px;
	margin-right: 50px;
}

header{
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: center;
    border-color: #818AA3;
}

main{
	margin-left: 100px;
	margin-right: 100px;
}

h1{
	font-family: lobster;
	text-align: center;
	line-height: 10px;
}

h2{
  font-family: lobster;
	text-align: center;
	line-height: 10px;
}

h3{
  font-family: lobster;
	text-align: center;
	line-height: 10px;
}

a{
	color: #FBFBFB;
	font-weight: normal;
}

a:hover{
	text-decoration: underline;
	color: #FBFBFB;
}

figure{
	text-align: center;
}

figcaption{
	font-style: normal;
}

nav{
	text-align: center;
}



p{
    text-align: center;
    font-size: 16px;
}

footer{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}


