/*default css*/
body
{
	font-family:lobster;
	color: #99D9D9;
	background-color: #001628;
	margin-left: 250px;
	margin-right: 250px;
}

header
{
	text-align: center;
	align-items: center;
	background-color: #355464;
	padding-bottom: 10px;
	padding-top: .05px;
	font-size: 20px;
	

}

main
{
	margin-left: 250px;
	margin-right: 250px;
}

h1
{
	font-family: lobster;
	text-align: center;
	line-height: 5px;
	font-size: 30px;
}

h2
{
	font-family: lobster;
	text-align: center;
	line-height: 5px;
	font-size: 40px
}

h3
{
	font-family: lobster;
	text-align: center;
	line-height: 5px;
	font-size: 30px
}

a
{
	color: #99D9D9;
	font-weight: normal;
}

a:hover
{
	text-decoration:underline;
	color: #E9072B;
}


nav
{
	text-align: center;
}



footer
{
	margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.bottom-jagfooter
{
	height: 100;
	width: 150;
}

.buttons-css
{
	height: 5;
	width: 15;
}

.buttons-htm5l
{
	height: 5;
	width: 15;
}
/*main page*/
#home
{
	text-align: center;
	font-weight: 700;
	font-size: 35px;
	font-family: lobster;
}

.footerhelp
{
	font-size: 15px;
}
/*index page*/
.home_paragraph
{
	text-align: center;
	font-size: 20px;
}

/*introduction page*/
.hockey_cap
{
	text-align: center;
}

.intro_paragraph
{
	text-align: left;
	font-size: 20px;
}

#hockey
{
	max-width: 50%;
	max-height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

/*contract page*/
.contract 
{
    font-family: lobster, sans-serif;
    text-align: left;
}

/*tables page*/
.basic_table
{
	margin-left: 240px;

}

.employee_table
{
	margin-left: 240px;
}

.detail_employee

{
	margin-left: 100px;
}

table{
	border-collapse: collapse;
  }

th,td
{
	border:1px solid #242223;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

th
{
	background-color: #7C9299;
}

tbody tr:nth-child(odd)
{
	background-color: #7C9299;
}

/*forms page*/
.info_form
{
	
	text-align: center;
}

.top_form_title
{
	text-align: center;
}

.top_form
{
	margin-left: 395px;
}

.middle_form_title
{
	text-align: center;
}

.middle_form
{
	margin-left: 395px;
}

.bottom_form_title
{
	text-align: center;
}

.bottom_form
{
	margin-left: 400px;
}

.submit_reset
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


/*crap website page*/
.crap_heading
{
	text-align: right;
}

/*crap website evaluation*/

.website_name
{
	text-align: center;
	font-size: 20px;
}

.paragraphs
{
	font-size: 20px;
	text-align: left;
}





