/*default css*/
body
{
	font-family:lobster;
	color: #242223;
	background-color: #2191fb;
	margin-left: 50px;
	margin-right: 50px;
}

header
{
	text-align: center;
	align-items: center;
	background-color: #71A5DE;
	padding-bottom: 10px;
	padding-top: .05px;
	

}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

h1, h2, h3
{
	font-family: lobster;
	text-align: center;
	line-height: 10px;
}


a
{
	color: #242223;
	font-weight: normal;
}

a:hover
{
	text-decoration: underline;
	color: #39393A;
}


nav
{
	text-align: center;
}

p
{
    font-size: 16px;
}

footer
{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.bottom-jagfooter
{
	height: 100;
	width: 150;
}

.buttons-css
{
	height: 5;
	width: 15;
}

.buttons-htm5l
{
	height: 5;
	width: 15;
}

/*index page*/
.home_paragraph
{
	text-align: center;
}

/*introduction page*/
.hockey_cap
{
	text-align: center;
}

.intro_paragraph
{
	text-align: left;
}

#hockey
{
	max-width: 50%;
	max-height: 50%;
	margin-left: 215px;

}

/*contract page*/
.contract 
{
    font-family: lobster, sans-serif;
    text-align: left;
}

/*tables page*/
.basic_table
{
	margin-left: 240px;

}

.employee_table
{
	margin-left: 240px;
}

.detail_employee

{
	margin-left: 100px;
}

table{
	border-collapse: collapse;
  }

th,td
{
	border:1px solid #242223;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

th
{
	background-color: #7C9299;
}

tbody tr:nth-child(odd)
{
	background-color: #7C9299;
}

/*forms page*/
.form
{
	text-align: center;
}

.athlete
{
	margin-left: 240px
}


/*crap website page*/
.crap_heading
{
	text-align: right;
}





