body
{
	font-family:lobster;
	color: #FBFBFB;
	background-color: navy;

	margin-left: 50px;
	margin-right: 50px;
}

header
{
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: center;
    border-style: groove;
    border-color: #818AA3;
}

footer
{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

h1
{
	font-family: lobster;
	text-align: center;
	line-height: 10px;
}

h2{
  font-family: lobster;
	text-align: center;
	line-height: 10px;
}

h3{
  font-family: lobster;
	text-align: left;
	line-height: 10px;
  font-size: 12px;
}

a
{
	text-decoration: none;
	color: #FBFBFB;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: #FBFBFB;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: normal;
}

nav
{
	text-align: center;
}


p
{
    text-align: left;
    font-size: 12px;
}
