/*default css*/
body
{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #111111;
	background-color: #009668;
	margin-left: 50px;
	margin-right: 50px;
}

header
{
	text-align: center;
	align-items: center;
	font-size: 200%;
	padding-left: 50px;
	

}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

h1
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	line-height: 10px;
}

h3
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: left;
	line-height: 10px;	
}


a
{
	color: #111111;
	font-weight: normal;
}

a:hover
{
	text-decoration:underline;
	color: #8F8F8C;
}


nav
{
	text-align: center;
}


footer
{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.buttons-css
{
	height: 5;
	width: 15;
}

.buttons-htm5l
{
	height: 5;
	width: 15;
}

/*logo*/
#jaguar
{
height: 10%;
width: 10%;
align-items: center;
}

/*main*/

.intro
{
	font-size: 20px;
}

.slogan
{
	font-size: 20px;
	text-align: center;
	padding-right: 11%;
}