@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*
{
	font-family:Quicksand;
}

body
{
	color: #3BFCED;
	background-color: #6F13A8;
	margin-left: 250px;
	margin-right: 250px;
	font-family: Quicksand;
    
}

header
{
	align-items: left;
    color: #6F13A8;
	font-size: xx-large;
	font-weight: 1000;
	margin-right: 32%;
	
}

.normal
{
	margin-right: 32.8%
}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

h1
{
	font-family: Quicksand;
    text-align: left;
	line-height: 5px;
	font-size: 75px;
	font-weight: 1000;
}

h2
{
	font-family: Quicksand;
    text-align: center;
	line-height: 5px;
	font-size: 50px;
	font-weight: 1000;
}

p
{
	font-family: Quicksand;
}

a
{
	color: #6F13A8;
	text-decoration: none;
	font-size: xx-large;
}

a:hover
{
	text-decoration:underline;
	color: #6F13A8;
}


nav
{
    background-color:#3BFCED;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.parkerscones
{
	width: 20%;
	height: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.home
{
	text-align: center;
	font-weight: 700;
	font-size: 35px;
	font-family: Quicksand;
}

.ncoutline
{
	padding-left: 35%;
	width:  50%;
	height: 50%;
}

.parkerbackground
{
	font-size: 20px;
	padding-right: 50%;
	font-weight: 700;
}

.hockeybackground
{
	font-size: 20px;
	padding-left: 55%;
	font-weight: 700;
}


.hockeypic
{
	width:  60%;
	height: 60%;
}

.diskgolfbackground
{
	font-size: 20px;
	padding-right: 50%;
	font-weight: 700;
}


.diskpic
{
	padding-left: 55%;
	width:  25%;
	height: 25%;
}

.theend
{
	font-size: 20px;
	padding-left: 55%;
	font-weight: 700;
}

.wine
{
	width:  60%;
	height: 60%;
}

.social
{
	text-align: center;
	font-weight: 700;
	font-size: 35px;
	font-family: Quicksand;
}


.twitter
{
	width:  16%;
	height: 16%;
	margin-left: 10%;
}

.twitch
{
	width:  13%;
	height: 13%;
	margin-left: 10%;
}

.discord
{
	margin-left: 10%;
	display: inline-block;
	width:  25%;
	height: 25%
}

.warning
{
	text-align: center;
}

.frag
{
	text-align: left;
	font-weight: 700;
	font-size: 35px;
	font-family: Quicksand;
}

#setupwide
{
	height: 50%;
	width:  50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.parts
{
	text-align: left;
	font-weight: 700;
	font-size: 35px;
	font-family: Quicksand;
}
