@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*
{
	font-family:Quicksand;
}

body
{
	color: #3BFCED;
	background-color: #6F13A8;
	margin-left: 250px;
	margin-right: 250px;
	font-family: Quicksand;
    
}

header
{
	align-items: left;
    color: #3BFCED;
	margin-right: 26.7%;
	margin-left: -10%;
}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

h1
{
	font-family: Quicksand;
    text-align: center;
	line-height: 5px;
	font-size: 75px;
}

a
{
	color: #6F13A8;
	font-weight: 1000;
	font-size: xx-large;
	text-decoration: none;
}

a:hover
{
	text-decoration:underline;
	color: #6F13A8;
}


nav
{
    background-color:#3BFCED;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
