body
{
	font-family:lobster;
	color: #3BFCED;
	background-color: #6F13A8;
	margin-left: 250px;
	margin-right: 250px;
    
}

header
{
	align-items: left;
    color: #3BFCED;

}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

h1
{
	font-family: lobster;
    text-align: center;
	line-height: 5px;
	font-size: 75px;
}

h2
{
	font-family: lobster;
	text-align: center;
	line-height: 5px;
	font-size: 40px
}

h3
{
	font-family: lobster;
	text-align: left;
	line-height: 5px;
	font-size: 30px
}

a
{
	color: #6F13A8;
	text-decoration: none;
}

a:hover
{
	text-decoration:underline;
	color: #6F13A8;
}


nav
{
	text-align: left;
    font-size: 30px;
    background-color:#3BFCED;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p
{
    font-size: 20px;
}

footer
{
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}

.buttons-css, .buttons-htm5l
{
	height: 5;
	width: 15;
}