<header>
  <h1>Nicholas Johnson | ITIS 3135 | Navy Jaguar </h1>
  <nav>
    <a href = "index.html">Home</a> ||
    <a href = "introduction.html">Introduction</a> ||
    <a href = "contract.html">Contract</a> ||
    <a href = "tables.html"> Tables</a> ||
    <a href = "forms.html"> Forms</a> ||
    <a href = "crappy-website!.htm"> Crappy Website</a> ||
    <a href = "crap_evaluation.html"> Website Evaluation</a> ||
    <a href = "johnsondesign.tech/index.html"> Brand Page</a> <br>
    <a href = "first_script.html">First JavaScript</a> ||
    <a href = "polygon.html">Polygon Script</a> ||
    <a href = "calculator.html">Calculator</a> ||
    <a href = "calculator_try.html">Calculator Try</a> ||
    <a href = "project_outline.html">Project Outline</a> ||
    <a href = "midterm.html">Midterm</a>||
    <a href = "parkerscones/index.html">Project</a>||
    <a href = "activity_10.html">Activity 10</a>
  </nav>
</header>